<div class="card">
  <div class="card-header">
    <h2><i class="fa fa-sign-in" aria-hidden="true"></i> Login.</h2>
  </div>
  <div class="card-block">
    <div class="alert alert-danger" role="alert" [hidden]="!canShowLoginFailedMessage">
        {{ loginFailedMessage }}
    </div>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <fieldset class="form-group">
        <label class="form-control-label" for="username">Username</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-fw fa-user"></i>
          </div>
          <input autofocus class="form-control" name="username" placeholder="Username" required type="text"
            [(ngModel)]="user.username" #username="ngModel"/>
        </div>
        <div [hidden]="username.valid || username.pristine">
          <small class="text-help has-danger">Username is required</small>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label class="form-control-label" for="password">Password</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-fw fa-lock" aria-hidden="true"></i>
          </div>
          <input class="form-control" name="password" placeholder="Password" required type="password"
            [(ngModel)]="user.password" #password="ngModel"/>
        </div>
        <div [hidden]="password.valid || password.pristine">
          <small class="text-help has-danger">Password is required</small>
        </div>
      </fieldset>
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.form.valid"><i class="fa fa-fw fa-unlock" aria-hidden="true"></i> Login</button>
    </form>
  </div>
  <div class="card-footer">
    <p><i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/thedondope/crudular">TheDonDope/crudular</a></p>
  </div>
</div>
