<div class="card">
  <div class="card-header">
    <h2><i class="fa fa-flask" aria-hidden="true"></i> Hello.</h2>
  </div>
  <div class="card-block">
    <h4 class="card-title">Good day to you {{ user }}</h4>
    <p class="card-text"><i class="fa fa-ticket" aria-hidden="true"></i> Your encoded token is:</p>
    <div class="jumbotron">
      <p id="wordwrap">
        {{ token }}
      </p>
    </div>
    <a href="https://jwt.io/#debugger"><img src="http://jwt.io/assets/badge.svg" /></a>
  </div>
  <div class="card-footer">
    <p><i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/thedondope/crudular">TheDonDope/crudular</a></p>
  </div>
</div>
